/* Preset Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 3.438rem;
}

h2,
li {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color:#f5f5f5 ;
}
/* Conteúdo da Página */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #333;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

footer {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #333;
}
/* Estilizando o Header */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin: 2rem;
}

.page-title,
nav a {
    color: #f5f5f5;
}

.link:hover {
    cursor: pointer;
}

.not-button:hover {
    text-decoration: underline;
}

/* Estilizando a '.main-box-one' da 'main' */
.main-box-one {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 2rem 0;
}

.profile-pic  img {
    width: 247px;
    height: 247px;
    border-radius: 247px;
}

.about-me {
    width: 60%;
    color: #333;  
}

.text-about-me {
    line-height: 1.3em; 
    letter-spacing: 0.06em;
}
/* Estilizando a '.main-box-two' da 'main' */
.main-box-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.875rem 2rem 1.875rem; 
}
.main-box-two-cards {
    max-width: 50%;
}
.main-box-two-boxes-title {
    margin-left: 1rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    max-width: 100%;
    max-height: 100%;
    
}

figure {
    display: flex;
    flex-flow: column;
    width: 150px;
    margin: 0.6rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.527) 0.2rem 0.2rem 0 0;
}

figure img {
    height: 110px;
    width: 100%;
    float:inline-start;
    border-radius: 5px 5px 0px 0px;
}


figcaption {
    background-color: #0D1117;
    color: #f5f5f5;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    padding: 1rem 0.5rem 1rem 0.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilizando o footer*/
footer {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
}

.gitlab-click {
    margin-left: 3rem;
}
/* Estilizando os botões */

.button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #2c974b;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}
 /*  Estilizando os ícones do footer */
.icon-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.logo-img:hover {
    cursor: pointer;
}
 /* Responsividade */
@media only screen and (max-width: 963px) {
    head,
    main,
    footer,
    .main-box-one,
    .main-box-two {
        margin: 0;
        padding: 1rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    nav {
        display: none;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        width: 100%;
        padding-top: 1rem;
    }
    
    /* Cards */
    .main-box-two {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .main-box-two-cards {
        max-width: 100%;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        max-height: 100%;
        padding: 1rem 0;
    }
    
    figure {
        display: flex;
        flex-flow: column;
        width: 120px;
        margin: 0.6rem;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.527) 0.2rem 0.2rem 0 0;
    }
    
    figure img {
        height: 110px;
        width: 100%;
        float:inline-start;
        border-radius: 5px 5px 0px 0px;
    }
    
    
    figcaption {
        background-color: #0D1117;
        color: #f5f5f5;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
        padding: 1rem 0.5rem 1rem 0.5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column-reverse;
    }
    section {
        padding-top: 1rem;
    }
}